* {
	transition: none;
	box-shadow: none;
	font-family: "Maple Mono NL NF CN";
	font-size: 20;
	padding: 1px 4px;
	border-radius: 0;
	border: none;
}

window#waybar {
	background:
		linear-gradient(90deg, alpha(#f54c53, 0.3), transparent 25%),
		#ffefee;
}

/* #tray { */
/* 	border-radius: 8px; */
/* 	background: alpha(#000, 0.8); */
/* } */

#workspaces button {
	padding: 3px 1px;
	margin: 0 2px 0 2px;
}

#workspaces button.active {
	background:
		linear-gradient(transparent, transparent 75%, alpha(#f54c53, 0.2)),
		linear-gradient(transparent, transparent 40%, alpha(#f54c53, 0.2));
}

#workspaces button:hover {
	background: #f8bfc6;
}

#clock {
	margin-left: 12px;
}
